{
    "semi": false,
    "overrides": [
        {
            "files": ["*.md"],
            "options": {
                "tabWidth": 2,
                "semi": true
            }
        },
        {
            "files": [".py"],
            "options": {
                "tabWidth": 4,
                "semi": true,
                "singleQuote": false
            }
        },
        {
            "files": [".prettierrc", "*.css"],
            "options": {
                "tabWidth": 4
            }
        },
        {
            "files": ["*.js"],
            "options": {
                "tabWidth": 4,
                "singleQuote": true
            }
        }
    ]
}
